<launch>

  <node name="GridMap" pkg="orb_slam2_ros"
      type="orb_slam2_ros_gridmap" output="screen">
       <!--<remap from="/camera/image_raw" to="/mynteye/left_rect/image_rect" />-->

       <!-- static parameters -->
       <param name="all_kfs_pts_topic" type="string" value="/orb_slam2_mono/all_kfs_pts" />
       <param name="single_kf_pts_topic" type="string" value="/orb_slam2_mono/single_kf_pts" />
       <param name="frame_id" type="string" value="/map" />
       <param name="publish_grid_map_visual" type="bool" value="true" />
       <param name="publish_grid_map_cost" type="bool" value="true" />
       <param name="use_keyboardUI" type="bool" value="false" />
       <param name="free_thresh" type="double" value="0.6" />
       <param name="occupied_thresh" type="double" value="0.4" />
       <param name="scale_factor" type="double" value="3" />
       <param name="cloud_min_x" type="double" value="-5" />
       <param name="cloud_max_x" type="double" value="16" />
       <param name="cloud_min_y" type="double" value="-10" />
       <param name="cloud_max_y" type="double" value="10" />
       <param name="visit_thresh" type="int" value="1" />
  </node>

</launch>
