<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="load_octree" default="false" />
  <arg name="octree_load_file" default="/home/ubuntu/savefiles/street_s60d850_zminm002_zmaxp030.bt" />
  <arg name="publish_in_fixed_rate" default="$(arg load_octree)" />
  <arg name="fixed_publish_rate" default="2" />

  <node name="myocto" pkg="orb_slam2_ros" type="orb_slam2_ros_myocto" output="screen">
       <!--<remap from="/camera/image_raw" to="/mynteye/left_rect/image_rect" />-->

       <!-- static parameters -->
       
       <!-- octree parameters -->
       <param name="all_kfs_pts_topic" type="string" value="/orb_slam2_mono/all_kfs_pts" />
       <param name="single_kf_pts_topic" type="string" value="/orb_slam2_mono/single_kf_pts" />
       <param name="frame_id" type="string" value="/map" />
       <param name="resolution" type="double" value="0.02" />
       <param name="z_min" type="double" value="-0.02" />
       <param name="z_max" type="double" value="0.30" />
       <!-- occupancy threshhold : less than this value -> free; larger than this value -> occupied -->
       <param name="sensor_model/occupancyThres" type="double" value="0.50" />
       <!-- the occupancy to integrate with one single hit (set occupied) -->
       <param name="sensor_model/hit" type="double" value="0.70" />
       <!-- the occupancy to integrate with one single miss (set free) -->
       <param name="sensor_model/miss" type="double" value="0.46" />
       <param name="sensor_model/min" type="double" value="0.10" />
       <param name="sensor_model/max" type="double" value="0.90" />
       <param name="rangeMax" type="double" value="1.5" />
       <param name="multi_free_factor" type="int" value="3" />
       <param name="publish_topic_when_subscribed" type="bool" value="true" />
       <!-- preload map ralated -->
       <param name="load_octree" type="bool" value="$(arg load_octree)" />
       <param name="octree_load_file" type="str" value="$(arg octree_load_file)" />
       <param name="publish_in_fixed_rate" type="bool" value="$(arg publish_in_fixed_rate)" />
       <param name="fixed_publish_rate" type="int" value="$(arg fixed_publish_rate)" />


       <!-- grid2dmap parameters -->
       <!--
       <param name="grid2dmap/default_padded_minX" type="double" value="-1.0" />
       <param name="grid2dmap/default_padded_maxX" type="double" value="5.0" />
       <param name="grid2dmap/default_padded_minY" type="double" value="-3.0" />
       <param name="grid2dmap/default_padded_maxY" type="double" value="3.0" />
       <param name="grid2dmap/threshold_occupancy_occupied" type="double" value="0.5" />
       <param name="grid2dmap/threshold_occupancy_free" type="double" value="0.5" />
       -->
  </node>

</launch>
